{% extends "layout.html" %}

{% block title %}
    Add entry
{% endblock %}

{% block main %}
    <p>Add entry to {{ trip['title'] }}</p>
    <form action="/add-entry/{{ trip['id'] }}" method="post">
        <div class="mb-3">
            <textarea autocomplete="off" autofocus class="form-control mx-auto col-md-6" id="auto-expanding-textarea" name="text" placeholder="Type text here..." rows="3"></textarea>
        </div>
        
        <script>
            const textarea = document.getElementById('auto-expanding-textarea');
            textarea.addEventListener('input', autoResize, false);
        
            function autoResize() {
                this.style.height = 'auto';
                this.style.height = this.scrollHeight + 'px';
            }
        </script>
        
        
        <select name="type">
            <option disabled selected value="">Type of entry</option>
            <option value="day_entry">Day entry</option>
            <option value="summary">Trip summary</option>      
        </select>
        
        <select name="mood">
            <option disabled selected value="">Mood 1-6</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>        
        </select>
        <button class="btn btn-primary" type="submit">Add entry</button>
    </form>
{% endblock %}
