{% extends "layout.html" %}

{% block title %}
    Add new trip
{% endblock %}

{% block main %}
    <form action="/add-trip" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"
            name="title" placeholder="Trip Title" type="text" required>
        </div>

        <div class="mb-3">
            <select class="form-control mx-auto w-auto" name="country" id="country" required>
                <option value="" disabled selected>Select a country</option>
                {% for country in countries %}
                    <option value="{{ country }}">{{ country }}</option>
                {% endfor %}
            </select>
        </div>     

        <div class="mb-3">
            <label for="city">City:</label>
            <select class="form-control mx-auto w-auto" name="city" id="city" required>
                <option value="" disabled selected>Select a city</option>
                <!-- Options will be populated dynamically with JavaScript -->
            </select>
        </div>
        <script>
            document.getElementById('country').addEventListener('change', function() {
                var country = this.value;

                // Make AJAX request to fetch cities for selected country
                fetch('/get-cities?country=' + country)
                    .then(response => response.json())
                    .then(data => {
                        // Update options in city select menu
                        var citySelect = document.getElementById('city');
                        citySelect.innerHTML = '';
                        data.forEach(city => {
                            var option = document.createElement('option');
                            option.value = city;
                            option.textContent = city;
                            citySelect.appendChild(option);
                        });
                    });
            });

        </script>

        <div class="mb-3">
            <label for="start_date">Start date:</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="start_date" name="start_date" placeholder="Start date" type="date" required>
        </div>

        <div class="mb-3">
            <label for="end_date">End date:</label>
            <input autocomplete="off" class="form-control mx-auto w-auto" id="end_date" name="end_date" placeholder="End date" type="date" required>
        </div>

        
        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
{% endblock %}
