{% extends "layout.html" %}

{% block title %}
    Add spot
{% endblock %}

{% block main %}
    <!-- Banner -->
    <div class="banner bg-primary text-white text-center py-3 mb-4">
        <h1>Add Spot with what3words</h1>
    </div>

    <p>Use <strong>what3words</strong> to add spot to {{ trip['title'] }}</p>
    <form action="/add-spot/{{ trip['id'] }}" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto"
            name="words" placeholder="Your w3w..." type="text" required>
        </div>
        <div class="mb-3">
            <input autocomplete="off" class="form-control mx-auto w-auto"
            name="name" placeholder="Name of the spot" type="text" required>
        </div>   
        <div class="mb-3">
            <label for="date">Date and time:</label>
            <input type="datetime-local" id="date" name="datetime" required> 
        </div>        
        <div class="mb-3">
            <textarea autocomplete="off" class="form-control mx-auto w-auto"
            name="description" placeholder="Description of the spot" rows="3"></textarea>
        </div>
        
        <button class="btn btn-primary" type="submit">Add entry</button>
    </form>
{% endblock %}
