{% extends "layout.html" %}

{% block title %}

Travel log!

{% endblock %}


{% block main %}
    <div class="card-container">
        {% for trip in trips %}

            <div class="special-card card" style="width: 18rem;">
                <img src="{{ url_for('serve_file', filename=images[trip['id']]) }}" class="card-img-top" alt="Trip photo from {{ trip['city'] }}">
                <div class="card-body">
                <h5 class="card-title">{{ trip['title'] }}</h5>
                <p class="card-text">{{ trip['start_date'] }} - {{ trip['end_date'] }}</p>
                <a href="{{ url_for('trip', id=trip['id']) }}" class="btn btn-primary">Enter</a>
                </div>
            </div>
            
        {% endfor %}
    </div>
    
{% endblock %}